doctype html
html
    extends navbar

    block content
      div.container-fluid
        div.row
          div.col-md-4
            img(src="./img/numbersjs.png", height="auto", style="margin-top: 10px; max-width: 100%", alt="Numbers.js", title="Created by Jacky Ngai")

          div.col-md-8
            p(style="margin-top: 10px").
              numbers.js is an advanced mathematics library written in and for JavaScript. numbers.js provides a comprehensive 
              set of tools not yet offered in JavaScript, such as:
            ul
              li Basic calculations
              li Calculus
              li Matrix operations
              li Prime numbers
              li Statistics

            p.
              To use numbers.js with Node, just require it, and you're good to go. Examples will be posted soon!