extends navbar

block title
  title numbers.js examples
block cssfile
  link(type='text/css', rel='stylesheet', href='/css/examples.css')
block activeTab
  li
    a(href='/')
      | Home 
      span.glyphicon.glyphicon-home
  //- li: a(href='#') Download
  li.active: a(href='/examples') Examples
  li.dropdown
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      | Documentation
      span.caret
    ul.dropdown-menu(role='menu')
      li: a(href='/basic') basic
      li: a(href='/calculus') calculus
      li: a(href='/complex') complex
      li: a(href='/dsp') dsp
      li: a(href='/generate') generate
      li: a(href='/matrix') matrix
      li: a(href='/prime') prime
      li: a(href='/random') random
      li: a(href='/statistic') statistic

block content
  p Coming soon!